<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="/WEB-INF/templates/layout.xhtml">
<ui:define name="content">
    <h1>ТОП-10 совпадений</h1>
    <p>
        Жанр отрывка (меньше - лучше):<br/>
        <ui:repeat value="#{uploadController.bestMatch.get(0).classScore.keySet().toArray()}" var="var">
            <h:outputText value="#{var}: "/>
            <h:outputText value="#{uploadController.bestMatch.get(0).classScore[var]}"/><br/>
        </ui:repeat>
    </p>
    <ul class="style1">
    <ui:repeat value="#{uploadController.bestMatch}" var="match">
        <li>
            <p>#{match.author} - #{match.title}</p>
            <p>Жанр - #{match.genre}</p>
            <p>Дистанция - #{match.score}</p>
        </li>
    </ui:repeat>
    </ul>
</ui:define>
</ui:composition>