<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="/WEB-INF/templates/layout.xhtml">
    <f:metadata>
        <f:event type="preRenderView" listener="#{musicListController.getAllMusic}"/>
    </f:metadata>
    <ui:define name="content">
        <h1>Всего в базе: <h:outputText value="#{musicListController.list.size()}"/> композиций</h1>
        <p>
            <ui:repeat value="#{musicListController.list}" var="match">
                    #{match.author} - #{match.title}<br/>
            </ui:repeat>
        </p>
    </ui:define>
</ui:composition>