<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:t="http://myfaces.apache.org/tomahawk"
                template="/WEB-INF/templates/layout.xhtml">
<ui:define name="content">
    <h1>ДЕМО ВЕРСИЯ.</h1>
    <p>Данное приложение является демо версией к дипломной работе Жукова К.И. на тему
        "Идентификация музыкального аудиоконтента", Тольяттинский Государственный Университет, 2013</p>
    <p>Выберите файл для загрузки. Поддерживается формат WAV, моно.</p>
    <h:form enctype="multipart/form-data">
        <t:inputFileUpload value="#{uploadController.uploadedFile}" storage="file" />
        <h:commandButton value="submit" action="#{uploadController.submitFile}" />
        <h:messages />
    </h:form>
</ui:define>
</ui:composition>