<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AudioRecognition</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'/>
<h:outputStylesheet library="css" name="default.css"/>
</h:head>
<h:body>
<!--<img src="fotogrph-billiards-153875273 (1).jpg" width="1500" height="1000" alt="" id="full-screen-background-image" />-->
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#{request.contextPath}/">AUDIORECOGN</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="active"><a href="#{request.contextPath}/list.jsf" accesskey="1" title="">Список композиций</a></li>

					<!--<li><a href="#" accesskey="2" title="">Our Events</a></li>
					<li><a href="#" accesskey="3" title="">Gallery</a></li>
					<li><a href="#" accesskey="4" title="">About Us</a></li>
					<li><a href="#" accesskey="5" title="">Contact Us</a></li>-->
				</ul>
			</div>
		</div>
	</div>
	<div id="page" class="container">
		<div id="content">
			<div id="box1"> <ui:insert name="content">

			</ui:insert>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright (c) 2013 moncruist.com. All rights reserved.</p>
	</div>
</div>
</h:body>
</html>
